<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>634724045278-poj2e64vbrm8khpk54kc3492clc82qs4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.634724045278-poj2e64vbrm8khpk54kc3492clc82qs4</string>
	<key>API_KEY</key>
	<string>AIzaSyCJnEtUJANU57S-T4CG0plhSH0fG-jwnCc</string>
	<key>GCM_SENDER_ID</key>
	<string>634724045278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.worldtime</string>
	<key>PROJECT_ID</key>
	<string>wastecollector2058</string>
	<key>STORAGE_BUCKET</key>
	<string>wastecollector2058.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:634724045278:ios:7659c6b92f261f88dbcd4f</string>
</dict>
</plist>